<ul>
  <li>
    <a href="/">
      Português
    </a>
  </li>
  <li>
    <a href="/en">
      English
    </a>
  </li>
  <li>
    <a href="/fr">
      Français
    </a>
  </li>
</ul>

<div>
  <h2 i18n="@@appContainer">App container</h2>
  {{ currentLocale }}
</div>

<ul>
  <li>
    <a routerLink="/" i18n="@@menuHome">
      Início
    </a>
  </li>
  <li>
    <a routerLink="/about" i18n="@@menuAbout">
      Sobre
    </a>
  </li>
  <li>
    <a routerLink="/single" i18n="@@menuNews">
      Notícia
    </a>
  </li>
</ul>

<router-outlet></router-outlet>
